{% extends "layout.html" %}
{% block content %}

<div class="md-form">
    <label for="form7">Please put your Quiz here..</label>
    <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
</div>
<div>
    <br>
</div>

<div class="form-group row">
  <div class="col-xs-1">
    <label for="ex1">1.</label>
    <input class="form-control" id="ex1" type="text">
  </div>
    <br>
  <div class="col-xs-2">
    <label for="ex2">2.</label>
    <input class="form-control" id="ex2" type="text">
  </div>
    <br>
  <div class="col-xs-2">
    <label for="ex3">3.</label>
    <input class="form-control" id="ex3" type="text">
  </div>
    <div class="col-xs-3">
    <label for="ex3">4.</label>
    <input class="form-control" id="ex3" type="text">
  </div>
</div>
<h3>Submit the correct answer.</h3>
<br>
<div class="form-group row">
  <div class="col-xs-2">
    <input class="form-control" id="ex3" type="text">
  </div>
</div>
    <br>
<input class="btn btn-primary" type="submit" value="Submit">

{% endblock content %}