{% extends "layout.html" %}
{% block content %}

<div class="md-form">
  <form method="POST" action="">
  <label for="question"><h3>Question.</h3></label>
    <textarea id="question" class="md-textarea form-control" rows="3"></textarea>
</div>
<div>
    <br>
</div>

<div class="form-group row">
  <div class="col-xs-1">
    <label for="AOption">A.</label>
    <input class="form-control" id="AOption" type="text">
  </div>
    <br> <p>&#160;&#160;&#160;</p>
  <div class="col-xs-2">
    <label for="BOption">B.</label>
    <input class="form-control" id="BOption" type="text">
  </div>
    <br><p>&#160;&#160;&#160;</p>
  <div class="col-xs-2">
    <label for="COption">C.</label>
    <input class="form-control" id="COption" type="text">
  </div>
    <div class="col-xs-3">
    <label for="DOption">D.</label>
    <input class="form-control" id="DOption" type="text">
  </div>
</div>
<h3>Correct answer.</h3>
<br>
<div class="form-group row">
  <div class="col-xs-2">
    <input class="form-control" id="Answer" type="text">
  </div>
</div>
    <br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href= "#">category 1</a>
    <a class="dropdown-item" href="#">category 2</a>
    <a class="dropdown-item" href="#">Add new category</a>
  </div>
</div>
<pre>
  
</pre>
<input class="btn btn-primary" type="submit" value="submit">
</form>


{% endblock content %}